.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


    
body{
    background-color:blanchedalmond
}

h1{
    color:blue;
    background-color: lightblue;
}

#cabecera2{
    color:rgb(70, 14, 14)
}

.text-coral{
    color:mediumblue
}